.button__adm {
    background: center;
    border-radius:  8rem;
    color: #f21b42;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    display: inline;
    font-size: 2rem;
    margin: 2rem 6rem;
    cursor: pointer;
    width: 14rem;
    height: 6rem;
}