.main-equipoSec1 {
    
    background-color: rgba(250, 250, 250, 0.3);
    height: 26.5rem;
    border-radius: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: flex-start;
    width: auto;
    
}

.main-equipoSec1__user--img {
    width: 15rem;
    margin: 0;  
}

.main-equipoSec1__user{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-equipoSec1__user--data {
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    margin-top: 3rem;
}

.main-equipoSec1__user--gamification {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

.main-equipoSec1__user--gamification p{
    margin-bottom: 1.5rem;
    
}
