.main {
    //background-image: url(../assets/static/Recurso26.png);
    //background-repeat: no-repeat;
    //background-position: center;
    background-color: #0c3559;
    
}

.main-img {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (8,1fr);
    grid-template-areas:
        "section1"
        "section2"
        "section3"
        "section4"
        "section5"
        "section6"
        "section7"
        "section8";
}
