.main {
    background-color: #0c3559;
    background: url('https://i.postimg.cc/ZYrDLrLz/Recurso26.png') no-repeat center center fixed;
    background-size: cover;
    
}

.fondo {
    display: grid;
    grid-template-columns: 1fr;
}

.main-img {
    grid-area: main;
    display: flex;
    flex-direction: column;
    height: auto;
}
