.nav {
    
    background-color: #0c4459;
    height: 4.8rem;
}

.nav__menu {
    grid-area: menu;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.nav__menu--home {
    color: white;
    margin-right: 1rem;
    font-size: 2rem;
}

.nav__menu--usuario {
    display: contents;
    font-size: 2rem;
}

.nav__menu--usuario span {
    margin-right: 1rem;
}

.nav__menu--foto {
    width: 40px;
}
