.main-section2 {
    grid-area: section2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-section2__canjear {
    // background-image: url(../../../../image/Recurso16.png); 
    // background-repeat: no-repeat;
    margin: 2rem;
    background-position: center;
    background-size: 23rem;   
}

.main-section2__cargar {
    // background-image: url(../../../../image/Recurso17.png); 
    // background-repeat: no-repeat;
    background-position: center;
    background-size: 23rem;
}
