@import "./Vars.scss";
@import "./media.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //font-size: 2rem;
}

html {
    font-family: $theme-font;
    font-size: 62.5%; 
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.App {
    display: grid;
    grid-template-rows: 4fr;
    grid-template-areas:
        "menu"
        "logo"
        "main"
        "footer";     
}

.button__editar {
    background-color: #f21c42;
    border-radius:  8rem;
    color: white;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    display: inline;
    font-size: 1.8rem;
    margin: 4rem 2rem;
    cursor: pointer;
    width: 14rem;
    height: 6rem;
}