@import "./Vars.scss";
@import "./media.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $theme-font;
    font-size: 62.5%; 
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.App {
    display: grid;
    grid-template-rows: 4fr;
    grid-template-areas:
        "menu"
        "logo"
        "main"
        "footer";     
}