@media only screen and (min-width: 768px) {
  .main-img {
  display: grid;  
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  }
}

@media only screen and (min-width: 970px) {
  body {
    background-color: #0c4459;
  }

  .App {
    padding: 0 19rem;
  }

  .main-img {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;  
    
  }
}
