@media only screen and (min-width: 768px) {
  .main-img {
    
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto;
  grid-gap: 20px;
    
    
  }
}

@media only screen and (min-width: 970px) {
  body {
    background-color: #0c4459;
  }

  .App {
    padding: 0 19rem;
  }

  .main-img {
    
    grid-template-areas:
      "section1 section3 section2"
      "section4 section4 container-section";
  }
}
