@media only screen and (min-width: 768px) {
  .main-img {
  display: grid;  
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  }
}

@media only screen and (min-width: 970px) {
  body {
    background-color: #0c4459;
  }

  .nav__menu {
  margin-right: 19rem;
  }

  .section-logo {
  padding-left: 19rem;
  }

  .main {
  margin-left: 19rem;
  margin-right: 19rem;
  }
  
  .main-img {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, auto);  
  }

}
